LISTEN=127.0.0.1:18081
KEY_SALT=<generated-base64url-salt>
KEY_HASH=<generated-base64url-hash>
SESSION_TTL=12h
COOKIE_NAME=dsh_gateway_session
SECURE_COOKIE=true
MAX_FAILURES=5
FAILURE_WINDOW=5m
LOCKOUT=15m
TRUSTED_PROXY_IP=127.0.0.1
